// row and column definitions
@use 'sass:list';
@use 'sass:map';

.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 calc($grid-gutter-xs / -2);

  &.reverse {
    flex-direction: row-reverse;
  }

  &.no-gutter {
    margin: 0;
  }

  &.justify {
    &-center {
      justify-content: center;
    }

    &-end {
      justify-content: flex-end;
    }

    &-between {
      justify-content: space-between;
    }

    &-around {
      justify-content: space-around;
    }

    &-evenly {
      justify-content: space-evenly;
    }
  }

  &.align {
    &-start {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }

    &-end {
      align-items: flex-end;
    }

    &-stretch {
      align-items: stretch;
    }

    &-baseline {
      align-items: baseline;
    }
  }
}

[class^="col"],
[class*=" col"],
.col {
  align-items: flex-start;
  display: flex;
  flex: 1 1 0;
  padding: 0 calc($grid-gutter-xs / 2);

  .no-gutter > & {
    padding: 0;
  }

  &.align {
    &-start {
      align-self: flex-start;
    }

    &-center {
      align-self: center;
    }

    &-end {
      align-self: flex-end;
    }

    &-stretch {
      align-self: stretch;
    }

    &-baseline {
      align-self: baseline;
    }
  }

  &.order-first {
    order: -1;
  }

  &.order-last {
    order: 999;
  }
}

// step up to larger gutter size

@include breakpoint-above('sm') {
  .row {
    margin: 0 calc($grid-gutter / -2);
  }

  [class^="col"],
  [class*=" col"],
  .col {
    padding: 0 calc($grid-gutter / 2);
  }
}

// col breakpoints

@each $step in $grid-steps {
  .col-#{$step} {
    flex: 0 0 auto;
    width: #{calc(($step / list.length($grid-steps)) * 100%)};
  }

  .order-#{$step} {
    order: #{$step};
  }

  .offset-#{$step} {
    margin-left: #{calc(($step / list.length($grid-steps)) * 100%)};
  }
}

@each $breakpoint, $size in $grid-breakpoints {
  @include breakpoint-above($breakpoint) {
    @each $step in $grid-steps {
      .col-#{$breakpoint}-#{$step} {
        flex: 0 0 auto;
        width: #{calc(($step / list.length($grid-steps)) * 100%)};
      }

      .order-#{$breakpoint}-#{$step} {
        order: #{$step};
      }

      .offset-#{$breakpoint}-#{$step} {
        margin-left: #{calc(($step / list.length($grid-steps)) * 100%)};
      }
    }

    .col-#{$breakpoint}-auto {
      flex: 0 0 auto;
      width: auto;
    }

    .col-#{$breakpoint} {
      flex: 1 1 0;
      width: auto;
    }
  }
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

// display helpers

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-inline-flex {
  display: inline-flex;
}

.d-none {
  display: none;
}