@use 'sass:map';

@mixin focus-primary {
  &:focus-visible {
    box-shadow: 0 0 0 4px rgba(var(--fora-primary-6), 0.5) !important;
    outline: none;
  }
}

@mixin focus-danger {
  &:focus-visible {
    box-shadow: 0 0 0 4px rgba(var(--fora-danger-6), 0.5) !important;
    outline: none;
  }
}

@mixin breakpoint-above($breakpoint) {
  @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin breakpoint-below($breakpoint) {
  @media (max-width: calc(map-get($grid-breakpoints, $breakpoint) - 0.01px)) {
    @content;
  }
}
