@use 'sass:map';

@mixin focus-primary-styles {
  box-shadow: 0 0 0 4px rgba(var(--fora_primary-6), 0.61) !important;
  outline: none;
}

@mixin focus-danger-styles {
  box-shadow: 0 0 0 4px rgba(var(--fora_danger-6), 0.6) !important;
  outline: none;
}

@mixin focus-primary {
  &:focus-visible {
    @include focus-primary-styles;
  }
}

@mixin focus-danger {
  &:focus-visible {
    @include focus-danger-styles;
  }
}

@mixin breakpoint-above($breakpoint) {
  @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin breakpoint-below($breakpoint) {
  @media (max-width: calc(map-get($grid-breakpoints, $breakpoint) - 0.01px)) {
    @content;
  }
}

@mixin visually-hidden {
  clip: rect(0,0,0,0) !important;
  clip-path: inset(50%);
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

@mixin form-label {
  font-size: $font-sm;
  font-weight: $font-medium;
  margin-bottom: 0.25rem;
}

@mixin form-assistive-text {
  color: $neutral-7;
  font-size: $font-xs;
  font-weight: $font-regular;
  margin-top: 0.25rem;
}