// here are global styles for the design system
// this is what the client will import

@import 'required';
@import 'themes';
@import 'grid';
@import 'typography';
@import 'helpers';

@import 'reset';


// global styles

html,
body {
  color: rgba(var(--fora_neutral-13), 1);
  font-family: $font-family;
  font-size: 100%;
}

button,
a {
  cursor: pointer;
}
