// here's where we'll add and test overwriting those sweet sweet variables

// $primary-6: 0, 255, 0;
// $button-outlined: 255, 255, 0, 1;


$themes: (
  dark: (
    primary-6: (100, 100, 100),
    primary-7: (150, 150, 150),
    primary-8: (200, 200, 200),

    // button-primary
    button-primary: (255, 255, 0, 1),
  )
)