// Foundational Colors

$primary-1: 233, 236, 254 !default;
$primary-2: 202, 210, 252 !default;
$primary-3: 160, 174, 250 !default;
$primary-4: 116, 137, 248 !default;
$primary-5: 74, 101, 246 !default;
$primary-6: 34, 67, 244 !default;
$primary-7: 29, 57, 207 !default;
$primary-8: 24, 48, 173 !default;
$primary-9: 19, 38, 139 !default;
$primary-10: 15, 30, 110 !default;

$secondary-1: 245, 232, 247 !default;
$secondary-2: 231, 200, 236 !default;
$secondary-3: 212, 156, 221 !default;
$secondary-4: 193, 110, 206 !default;
$secondary-5: 174, 66, 191 !default;
$secondary-6: 156, 25, 177 !default;
$secondary-7: 133, 21, 150 !default;
$secondary-8: 111, 18, 126 !default;
$secondary-9: 89, 14, 101 !default;
$secondary-10: 70, 11, 80 !default;

$danger-1: 251, 230, 231 !default;
$danger-2: 246, 194, 196 !default;
$danger-3: 239, 145, 150 !default;
$danger-4: 232, 94, 101 !default;
$danger-5: 225, 46, 55 !default;
$danger-6: 218, 0, 11 !default;
$danger-7: 185, 0, 9 !default;
$danger-8: 155, 0, 8 !default;
$danger-9: 124, 0, 6 !default;
$danger-10: 98, 0, 5 !default;

$warning-1: 255, 244, 237 !default;
$warning-2: 255, 227, 211 !default;
$warning-3: 255, 206, 176 !default;
$warning-4: 255, 183, 140 !default;
$warning-5: 255, 161, 105 !default;
$warning-6: 255, 140, 72 !default;
$warning-7: 217, 119, 61 !default;
$warning-8: 181, 99, 51 !default;
$warning-9: 145, 80, 41 !default;
$warning-10: 115, 63, 32 !default;

$success-1: 230, 243, 240 !default;
$success-2: 194, 227, 220 !default;
$success-3: 145, 205, 192 !default;
$success-4: 94, 182, 163 !default;
$success-5: 46, 160, 135 !default;
$success-6: 0, 139, 109 !default;
$success-7: 0, 118, 93 !default;
$success-8: 0, 99, 77 !default;
$success-9: 0, 79, 62 !default;
$success-10: 0, 63, 49 !default;

$neutral-1: 253, 253, 253 !default;
$neutral-2: 244, 243, 244 !default;
$neutral-3: 237, 236, 238 !default;
$neutral-4: 211, 210, 214 !default;
$neutral-5: 175, 175, 182 !default;
$neutral-6: 138, 138, 148 !default;
$neutral-7: 103, 102, 116 !default;
$neutral-8: 70, 69, 85 !default;
$neutral-9: 60, 59, 72 !default;
$neutral-10: 50, 49, 60 !default;
$neutral-11: 40, 39, 48 !default;
$neutral-12: 31, 31, 38 !default;
$neutral-13: 14, 14, 17 !default;

$white: 255, 255, 255 !default;
$black: 0, 0, 0 !default;

$transparent: 255, 255, 255, 0;

// Contextual Colors - USE THESE FIRST

$primary: $primary-6 !default;
$primary--hover: $primary-8 !default;
$primary--pressed: $primary-10 !default;
$primary_reduced: $primary-1 !default;

$danger: $danger-6 !default;
$danger--hover: $danger-8 !default;
$danger--pressed: $danger-9 !default;
$danger_reduced: $danger-1 !default;

$success: $success-6 !default;
$success_reduced: $success-1 !default;

$warning: $warning-6 !default;
$warning_reduced: $warning-1 !default;

$informational: $secondary-6 !default;
$informational_reduced: $secondary-1 !default;

$neutral: $neutral-7 !default;
$neutral_reduced: $neutral-2 !default;
$neutral_reduced--hover: $neutral-3 !default;
$neutral_reduced--pressed: $neutral-4 !default;

$text_intense: $neutral-13 !default;
$text_default: $neutral-9 !default;
$text_reduced: $neutral-7 !default;

$disabled: $neutral-4 !default;
$disabled_reduced: $neutral-3 !default;

$surface: $white !default;
