$primary-500: #2243F4 !default;
$primary-500-rgb: 34, 67, 244;

$primary-600: #1d39cf !default;
$primary-700: #1830ad !default;


$text-light: #fff !default;

$disabled-text: #9F9F9F !default;
$disabled-bg: #DFDFDF !default;
