// Base variables used in many places

// helpers
$spacing-values: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

$spacing-opts: (
  'a': (''),
  't': ('-top'),
  'r': ('-right'),
  'b': ('-bottom'),
  'l': ('-left'),
  'x': ('-top', '-bottom'),
  'y': ('-left', '-right'),
);

$tshirt-sizing: ('xs', 'sm', 'md', 'lg', 'xl');

// elements
$border-radius_sm: 4px !default;
$border-radius_md: 8px !default;
$border-radius_lg: 10px !default;
$border-radius_xl: 16px !default;
$border-radius_full: 1000px !default;

// elevation

$shadow-xs: 0 0 8px rgb(var(--fora_black) / 15%) !default;
$shadow-sm: 0 0 12px rgb(var(--fora_black) / 18%) !default;
$shadow-md: 0 0 24px rgb(var(--fora_black) / 21%) !default;
$shadow-lg: 0 0 32px rgb(var(--fora_black) / 24%) !default;
$shadow-xl: 0 0 40px rgb(var(--fora_black) / 27%) !default;


// layout
// these breakpoints sit between the design layouts/screen sizes so that the layout has wiggle room on either side of the breakpoint
$grid-breakpoints: (
  xs: 400px,
  sm: 700px,
  md: 1000px,
  lg: 1300px,
  xl: 1600px
) !default;

$grid-gutter-xs: 16px !default;
$grid-gutter: 24px !default;

$grid-steps: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) !default;

// transitions
$transition-timing: .35s ease !default;