// Variables commonly used in forms and form fields

$input-label-size: $font-sm;
$input-label-weight: $font-medium;

$input-auxiliary-text-size: $font-xs;
$input-auxiliary-text-weight: $font-regular;