// set the default theme so multi-theming can be used if desired
@use 'sass:map';

$themes: () !default;

$defaultThemes: (
  default: (
    // foundational colors
    primary-1: $primary-1,
    primary-2: $primary-2,
    primary-3: $primary-3,
    primary-4: $primary-4,
    primary-5: $primary-5,
    primary-6: $primary-6,
    primary-7: $primary-7,
    primary-8: $primary-8,
    primary-9: $primary-9,
    primary-10: $primary-10,

    secondary-1: $secondary-1,
    secondary-2: $secondary-2,
    secondary-3: $secondary-3,
    secondary-4: $secondary-4,
    secondary-5: $secondary-5,
    secondary-6: $secondary-6,
    secondary-7: $secondary-7,
    secondary-8: $secondary-8,
    secondary-9: $secondary-9,
    secondary-10: $secondary-10,

    danger-1: $danger-1,
    danger-2: $danger-2,
    danger-3: $danger-3,
    danger-4: $danger-4,
    danger-5: $danger-5,
    danger-6: $danger-6,
    danger-7: $danger-7,
    danger-8: $danger-8,
    danger-9: $danger-9,
    danger-10: $danger-10,

    warning-1: $warning-1,
    warning-2: $warning-2,
    warning-3: $warning-3,
    warning-4: $warning-4,
    warning-5: $warning-5,
    warning-6: $warning-6,
    warning-7: $warning-7,
    warning-8: $warning-8,
    warning-9: $warning-9,
    warning-10: $warning-10,

    success-1: $success-1,
    success-2: $success-2,
    success-3: $success-3,
    success-4: $success-4,
    success-5: $success-5,
    success-6: $success-6,
    success-7: $success-7,
    success-8: $success-8,
    success-9: $success-9,
    success-10: $success-10,

    neutral-1: $neutral-1,
    neutral-2: $neutral-2,
    neutral-3: $neutral-3,
    neutral-4: $neutral-4,
    neutral-5: $neutral-5,
    neutral-6: $neutral-6,
    neutral-7: $neutral-7,
    neutral-8: $neutral-8,
    neutral-9: $neutral-9,
    neutral-10: $neutral-10,
    neutral-11: $neutral-11,
    neutral-12: $neutral-12,
    neutral-13: $neutral-13,

    white: $white,
    black: $black,

    // components
  ),
);

// for each component var, merge the keys into default
$defaultThemes: map-merge($defaultThemes, 'default', $theme-buttons);
