$font-family: 'Inter', 'Avenir', Helvetica, Arial, sans-serif !default;
$font-family-display: $font-family;

$font-thin: 100 !default;
$font-light: 300 !default;
$font-regular: 400 !default;
$font-medium: 500 !default;
$font-bold: 700 !default;
$font-black: 900 !default;

$font-xs: 0.75rem !default;
$font-sm: 0.875rem !default;
$font-base: 1rem !default;
$font-lg: 1.125rem !default;

$heading-6: 1.25rem !default;
$heading-5: 1.5rem !default;
$heading-4: 1.75rem !default;
$heading-3: 2rem !default;
$heading-2: 2.25rem !default;
$heading-1: 2.5rem !default;

$display-xs: 2.75rem !default;
$display-sm: 3rem !default;
$display-md: 3.25rem !default;
$display-lg: 3.5rem !default;

$heading-letter-spacing: -0.02em !default;
