$font-family: 'Inter', 'Avenir', Helvetica, Arial, sans-serif !default;

$font-thin: 100 !default;
$font-light: 200 !default;
$font-regular: 300 !default;
$font-medium: 400 !default;
$font-bold: 700 !default;
$font-black: 900 !default;