// Variables specific to FdButton

// colors for theming, must be duplicated in theme map
$button-primary: $primary-500 !default;
$button-primary-hover: $primary-600 !default;
$button-primary-pressed: $primary-700 !default;
$button-primary-text: $text-light !default;

$button-outlined: $button-primary !default;
$button-outlined-hover: $button-primary-hover !default;
$button-outlined-pressed: $button-primary-pressed !default;
$button-outlined-bg: transparent !default;
$button-outlined-bg-hover: rgba($button-outlined, 0.1) !default;
$button-outlined-bg-pressed: rgba($button-outlined, 0.2) !default;
$button-outlined-text: $button-primary !default;
$button-outlined-text-hover: $button-primary-hover !default;
$button-outlined-text-pressed: $button-primary-pressed !default;

// default style vars
$button-border: none !default;
$button-border-radius: $border-radius !default;
$button-elevation: $elevation-1 !default;
$button-font-family: $font-family !default;
$button-font-size: 1rem !default;
$button-font-weight: $font-bold !default;
$button-padding: 0.5rem 1rem !default;
$button-text-align: center !default;
$button-text-transform: none !default;
$button-transition: $transition-timing background, $transition-timing box-shadow, $transition-timing border-color, $transition-timing color !default;

// outlined
$button-outlined-border: 2px solid !default;

// theme map, must replicate colors
// when using, add --fora- before the key as the css variable, for example: var(--fora-button-primary)
$theme-buttons: (
  button-primary: $button-primary,
  button-primary-hover: $button-primary-hover,
  button-primary-pressed: $button-primary-pressed,
  button-primary-text: $button-primary-text,

  button-outlined: $button-outlined,
  button-outlined-hover: $button-outlined-hover,
  button-outlined-pressed: $button-outlined-pressed,
  button-outlined-bg: $button-outlined-bg,
  button-outlined-bg-hover: $button-outlined-bg-hover,
  button-outlined-bg-pressed: $button-outlined-bg-pressed,
  button-outlined-text: $button-outlined-text,
  button-outlined-text-hover: $button-outlined-text-hover,
  button-outlined-text-pressed: $button-outlined-text-pressed,
);
