// Variables specific to FdChip

// colors for theming, must be duplicated in theme map
$chip_bg: $neutral_reduced, 1 !default;
$chip_border-color: $black, 0.2 !default;
$chip_icon_color: $text_default, 1 !default;
$chip_interactive_bg: $neutral_reduced, 1 !default;
$chip_interactive_bg--hover: $neutral_reduced--hover, 1 !default;
$chip_interactive_bg--pressed: $neutral_reduced--pressed, 1 !default;
$chip_interactive_border-color: $black, 0.5 !default;
$chip_text_color: $text_intense, 1 !default;


// default style vars
$chip_border: 1px solid;
$chip_border-radius: $border-radius_full !default;
$chip_dismissible_padding-right: 0.25rem !default;
$chip_font-size: $font-sm !default;
$chip_gap: 0.25rem !default;
$chip_height: 1.75rem !default;
$chip_icon_height: 1rem !default;
$chip_icon_width: 1rem !default;
$chip_line-height: 1.25rem !default;
$chip_padding-x: 0.75rem !default;
$chip_padding-y: 0.25rem !default;
$chip_selected_height: 1rem !default;
$chip_selected_width: 1rem !default;

// different sizes
$chip_lg_icon_height: 1.25rem !default;
$chip_lg_icon_width: 1.25rem !default;
$chip_lg_selected_height: 1.25rem !default;
$chip_lg_selected_width: 1.25rem !default;

$chip_md_height: 1.5rem !default;
$chip_md_padding-x: 0.625rem !default;
$chip_md_padding-y: 0.125rem !default;

$chip_sm_height: 1.25rem !default;
$chip_sm_padding-x: 0.5rem !default;
$chip_sm_padding-y: 0 !default;
$chip_sm_size: $font-xs !default;

// theme map, must replicate colors
// when using in components, add --fora_ before the key as the css variable, for example: var(--fora_button_primary)
$theme-chips: (
  chip_bg: $chip_bg,
  chip_border-color: $chip_border-color,
  chip_icon_color: $chip_icon_color,
  chip_interactive_bg: $chip_interactive_bg,
  chip_interactive_bg--hover: $chip_interactive_bg--hover,
  chip_interactive_bg--pressed: $chip_interactive_bg--pressed,
  chip_interactive_border-color: $chip_interactive_border-color,
  chip_text_color: $chip_text_color,
);