// Variables shared between many form elements

// colors for theming, must be duplicated in theme map
$form-field_assistive-text_color: $neutral-7, 1 !default;
$form-field_border-color: $neutral-7, 1 !default;
$form-field_border-color--hover: $primary-6, 1 !default;
$form-field_border-color--focus: $primary-6, 1 !default;
$form-field_disabled_bg: $neutral-4, 1 !default;
$form-field_disabled_border-color: $neutral-7, 1 !default;
$form-field_disabled_color: $neutral-5, 1 !default;
$form-field_error_border-color: $danger-3, 1 !default;
$form-field_error_border-color--hover: $danger-7, 1 !default;
$form-field_error_border-color--focus: $danger-7, 1 !default;
$form-field_error-text_color: $danger-7, 1 !default;
$form-field_input_bg: $white, 1 !default;
$form-field_icon_color: $neutral-7, 1 !default;
$form-field_readonly_bg: $neutral-3, 1 !default;

// default style vars
$form-field_auxillary-text_size: $font-xs !default;
$form-field_auxillary-text_weight: $font-regular !default;
$form-field_border_size: 1px;
$form-field_border: $form-field_border_size solid !default;
$form-field_border-radius: $border-radius !default;
$form-field_error-text_size: $font-xs !default;
$form-field_error-text_weight: $font-regular !default;
$form-field_input_line-height: 1.25rem !default;
$form-field_input_size: $font-sm !default;
$form-field_input_weight: $font-regular !default;
$form-field_label_line-height: 1.25rem;
$form-field_label_size: $font-sm !default;
$form-field_label_weight: $font-medium !default;
$form-field_vertical_spacer: 0.25rem !default;

// different sizes
$form-field_padding: 0.625rem !default;
$form-field_sm_padding: 0.375rem !default;

// theme map, must replicate colors
// when using, add --fora- before the key as the css variable, for example: var(--fora-button-primary)
$theme-form: (
  form-field_assistive-text_color: $form-field_assistive-text_color,
  form-field_border-color: $form-field_border-color,
  form-field_border-color--hover: $form-field_border-color--hover,
  form-field_border-color--focus: $form-field_border-color--focus,
  form-field_disabled_bg: $form-field_disabled_bg,
  form-field_disabled_border-color: $form-field_disabled_border-color,
  form-field_disabled_color: $form-field_disabled_color,
  form-field_error-text_color: $form-field_error-text_color,
  form-field_error_border-color: $form-field_error_border-color,
  form-field_error_border-color--hover: $form-field_error_border-color--hover,
  form-field_error_border-color--focus: $form-field_error_border-color--focus,
  form-field_input_bg: $form-field_input_bg,
  form-field_icon_color: $form-field_icon_color,
  form-field_readonly_bg: $form-field_readonly_bg,
);
