// Variables specific to FbSelect

// colors for theming, must be duplicated in theme map
$menu_bg: $white !default;
$menu_button_bg--hover: $primary-6, 1 !default;
$menu_button_color--selected: $primary-8, 1 !default;
$menu_button-icon_color: $neutral-7, 1 !default;
$menu_button-check_color: $primary-6, 1 !default;


// default style vars
$menu_button_bg: transparent !default;
$menu_button_border: 0 !default;
$menu_button_size: $font-sm !default;
$menu_button_line-height: 1.25rem !default;
$menu_button_min-height: 2.5rem !default;
$menu_button_transition: $transition-timing color, $transition-timing background-color, $transition-timing box-shadow !default;
$menu_button-icon_margin-right: 0.5rem !default;
$menu_button-check_margin-left: 0.5rem !default;
$menu_border-radius: $border-radius_md !default;
$menu_bottom: calc(100% + 0.25rem) !default;
$menu_box-shadow: $shadow-md !default;
$menu_padding: 0.5rem 0 !default;
$menu_top: calc(100% + 0.25rem) !default;
$menu_z-index: 10 !default;

// theme map, must replicate colors
// when using, add --fora_ before the key as the css variable, for example: var(--fora_button_primary)

$theme-menu: (
  menu_bg: $menu_bg,
  menu_button_bg--hover: $menu_button_bg--hover,
  menu_button_color--selected: $menu_button_color--selected,
  menu_button-icon_color: $menu_button-icon_color,
  menu_button-check_color: $menu_button-check_color,
);