// Variables specific to FdRadio

// colors for theming, must be duplicated in theme map
$radio_bg--hover: $primary-6, 0.1;
$radio_disabled_color: $neutral-5, 1;
$radio_readonly_color: $neutral-11, 1;
$radio_error_bg--hover: $danger-6, 0.1;
$radio_error_color: $danger-7, 1;

$radio-base_box-shadow-color--hover--selected: $primary-6, 0.35;
$radio-base_error_box-shadow-color--hover--selected: $danger-6, 0.4;

// default style vars
$radio_border-radius: $border-radius_md;

// theme map, must replicate colors
// when using, add --fora_ before the key as the css variable, for example: var(--fora_button_primary)
$theme-radio: (
  radio_bg--hover: $radio_bg--hover,
  radio_disabled_color: $radio_disabled_color,
  radio_error_bg--hover: $radio_error_bg--hover,
  radio_error_color: $radio_error_color,
  radio_readonly_color: $radio_readonly_color,

  radio-base_box-shadow-color--hover--selected: $radio-base_box-shadow-color--hover--selected,
  radio-base_error_box-shadow-color--hover--selected: $radio-base_error_box-shadow-color--hover--selected
);