// Variables specific to FdSwitch

// colors for theming, must duplicate in theme map
$switch_active_bg: $primary-6, 1 !default;
$switch_active_bg--hover: $primary-8, 1 !default;
$switch_active_bg--pressed: $primary-9, 1 !default;
$switch_inactive_bg: $neutral-6, 1 !default;
$switch_inactive_bg--hover: $neutral-7, 1 !default;
$switch_inactive_bg--pressed: $neutral-8, 1 !default;
$switch_knob_bg: $white;

// default style vars
$switch_control_height: 1.75rem;
$switch_control_width: 3.5rem;
$switch_knob_height: 1.5rem;
$switch_knob_width: 1.5rem;
$switch_label_size: $form-field_label_size;
$switch_label_weight: $form-field_label_weight;
$switch_transition: $transition-timing background, $transition-timing left !default;
$switch_value_size: $form-field_auxillary-text_size;
$switch_value_weight: $form-field_auxillary-text_weight;

// theme map, must replicate colors
// when using, add --fora- before the key as the css variable, for example: var(--fora-switch-primary)
$theme-switch: (
  switch_active_bg: $switch_active_bg,
  switch_active_bg--hover: $switch_active_bg--hover,
  switch_active_bg--pressed: $switch_active_bg--pressed,
  switch_inactive_bg: $switch_inactive_bg,
  switch_inactive_bg--hover: $switch_inactive_bg--hover,
  switch_inactive_bg--pressed: $switch_inactive_bg--pressed,
  switch_knob_bg: $switch_knob_bg,
);