// Variables specific to FdToast

// colors for theming, must be duplicated in theme map
$toast_bg: $secondary-1, 1 !default;
$toast_border-color: $secondary-6, 1 !default;
$toast_color: $secondary-6, 1 !default;
$toast_danger_bg: $danger-1, 1 !default;
$toast_danger_border-color: $danger-6, 1 !default;
$toast_danger_color: $danger-6, 1 !default;
$toast_heading_color: $neutral-13, 1 !default;
$toast_link_color: $primary-6, 1 !default;
$toast_neutral_bg: $neutral-1, 1 !default;
$toast_neutral_border-color: $neutral-6, 1 !default;
$toast_neutral_color: $neutral-6, 1 !default;
$toast_success_bg: $success-1, 1 !default;
$toast_success_border-color: $success-6, 1 !default;
$toast_success_color: $success-6, 1 !default;
$toast_text_color: $neutral-8, 1 !default;
$toast_warning_bg: $warning-1, 1 !default;
$toast_warning_border-color: $warning-6, 1 !default;
$toast_warning_color: $warning-6, 1 !default;


// default style vars
$toast_border: 1px solid;
$toast_border-radius: 0 !default;
$toast_content_gap: 0.5rem !default;
$toast_gap: 0.75rem !default;
$toast_heading_font-size: $font-sm !default;
$toast_heading_font-weight: $font-medium !default;
$toast_heading_line-height: 1.25rem !default;
$toast_link_font-size: $font-sm !default;
$toast_link_font-weight: $font-medium !default;
$toast_link_line-height: 1.25rem !default;
$toast_link_padding: 0 !default;
$toast_link_margin: 0 !default;
$toast_padding: 0.75rem !default;
$toast_text_font-size: $font-sm !default;
$toast_text_font-weight: $font-regular !default;
$toast_text_line-height: 1.25rem !default;

// theme map, must replicate colors
// when using in components, add --fora_ before the key as the css variable, for example: var(--fora_button_primary)
$theme-toast: (
  toast_bg: $toast_bg,
  toast_border-color: $toast_border-color,
  toast_color: $toast_color,
  toast_danger_bg: $toast_danger_bg,
  toast_danger_border-color: $toast_danger_border-color,
  toast_danger_color: $toast_danger_color,
  toast_heading_color: $toast_heading_color,
  toast_link_color: $toast_link_color,
  toast_neutral_bg: $toast_neutral_bg,
  toast_neutral_border-color: $toast_neutral_border-color,
  toast_neutral_color: $toast_neutral_color,
  toast_success_bg: $toast_success_bg,
  toast_success_border-color: $toast_success_border-color,
  toast_success_color: $toast_success_color,
  toast_text_color: $toast_text_color,
  toast_warning_bg: $toast_warning_bg,
  toast_warning_border-color: $toast_warning_border-color,
  toast_warning_color: $toast_warning_color,
);